

<div class="container">
    <div class="row">
    <button class="btn btn-primary" [routerLink]="['/country/provinces/add', countryId ]" >Add Province</button>
    </div>

    <div class="row mat-elevation-z8">

        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>
      
        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
      
         
      
          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell class="name-cell"
                        *matCellDef="let province">{{province.name}}</mat-cell>
      
          </ng-container>
      
          <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
              <mat-cell class="details-cell"
                        *matCellDef="let province">
                        <a [routerLink]="['/province', province.id]"> Details  </a>
                      </mat-cell>
      
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      
        </mat-table>
        
        <mat-paginator [length]="8" [pageSize]="5"
        [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
        
        </div>
</div>

